body{
    margin: 0;
    font-family: Montserrat;
    font-size: 14px;
}
header{
    margin: 0;
    background-color: rgba(128, 0, 128, 0.767);
    display: flex; 
}
.ph{
    justify-content: center;
    display: flex;
    align-items: center;
}
input[placeholder="eMail"]{
    font-weight: italic;
}
.lbl{
    color:rgba(255, 255, 255, 0.732);
}
.btn{
    background-color: #00E173;
    color: rgba(255, 255, 255, 0.666);
    border: none;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.container1, .container2{
   
    padding-left: 10rem;
    padding-right: 10rem;
    margin: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1rem;
    line-height: 2.1;
    
 
}
h1{
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    margin: 24px;
    padding: 25px;
}
h2{
    font-weight: bold;
    font-size: 1.5rem;
}


footer{
    background-color: rgba(0, 0, 0, 0.804);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.068);
    font-weight: bold;
}
.logo{
    border-right: 1px solid rgba(0, 0, 0, 0.068);
    padding-right: 110px;
}

.navb{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    padding: 15px;
   font-size: 14px;
}
.coworking{
    text-align: center;
    justify-content: center;
    
    display: flex;
    border-left: 1px solid rgba(0, 0, 0, 0.068);
    padding-left: 80px;
    margin-right: 35px;
    font-size: 14px;
    text-decoration: none;
}
a:hover{
    text-decoration: underline black;
}
a:active{
    color: black;
}

a{
    color: black;
    text-decoration: none;
}
form{
    margin-left: 400px;

}
ul li::marker{
    color: purple;
}

ul li{
    padding: 10px;
    color:  rgba(0, 0, 0, 0.584); ;
}
.hr1{
    background-color: purple;
    height: 2px;
    border: none;
    margin-bottom:50px ;
    
}
.containerlogo{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 25px;
    width: 120px;
    

}
i{
    font-size: 20px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    color:  white   ;
}

.before{
    position: relative;
}

.before::before{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 20;
    width: 100%;
    height: 2px;
    background-color: black;
}
.before:hover{
    text-decoration: none  ;
}
.hr2{
    border: solid 1px rgba(128, 128, 128, 0.231);
    width: 100%;
    margin-bottom: 50px;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    color: rgba(0, 0, 0, 0.584);
}
.lf{
    margin-bottom: 25px;
}
.reso{
    color: white;
}