header{
    background-color: rgba(128, 0, 128, 0.767);
    display: flex; 
}
.ph{
    justify-content: center;
}
.container1, .container2{
    justify-content: center;
    text-align: center;
    width: 80%;
 display: inline-block;
}
h1, h2{
    font-weight: normal;
}


footer{
    background-color: rgba(0, 0, 0, 0.804);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10  px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.068);
    
}
.logo{
    border-right: 1px solid rgba(0, 0, 0, 0.068);
    padding-right: 150px;
}

.navb{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
   
}
.coworking{
    text-align: center;
    justify-content: center;
    text-align: center;
    display: flex;
    border-left: 1px solid rgba(0, 0, 0, 0.068);
    padding-left: 80px;
}
a:hover{
    text-decoration: underline black;
}
a:active{
    color: black;
}

a{
    color: black;
    text-decoration: none;
}