header{
    background-color: rgba(128, 0, 128, 0.767);
    display: flex; 
}
.ph{
    justify-content: center;
}
.container1, .container2{
    justify-content: center;
    text-align: center;
    width: 80%;
 display: inline-block;
}
h1, h2{
    font-weight: normal;
}


footer{
    background-color: rgba(0, 0, 0, 0.804);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}